@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background-color: rgba(255, 255, 255, 0.445);
}
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding:2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(241, 234, 234, 0.753);
}

header .logo img{
    
   width: 112px;
   height: 42px;
    background-size: contain;
}

header .logo{
margin-right: .5rem;
font-size: 21px;
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    position: relative;
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
header .navbar a:hover::after
{

    content:  "";
    width: 57%;
    height: 2px;
    background: rgb(245, 43, 7);
    position: absolute;
    bottom: -4px;
    left: 0px;
}
#menu-bar{
    font-size: 2rem;
    border: 1px solid grey;
    border-radius: 3px;
    padding: .5rem 1.5rem;
    display: none;
}
section{
    padding: 2rem 9%;
}
.Home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    min-height: 100vh;
}
.Home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}
.Home .image{
    flex: 1 1 40rem;
}
.Home .image img{
    background: transparent;
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
    
}
@keyframes float{
0%,100%{
    transform: translateY(0rem);
}
50%{
    transform: translateY(3rem);
}
}
.Home .content h3{
    font-size: 5rem;
    content: #333;
}
.Home .content p{
    font-size: 1.8rem;
    margin-top: 18px;
}
.btn{
    margin-top: 12px;
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid red;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100% ;
    background: red;
    transition: .3s linear;
    z-index: -1;
}
.btn:hover::before{
    width: 100%;
    left: 0;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color: red;
}
.special .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.special .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
}
.special .box-container .box img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: -100%;left:0 ;
    background-size: cover;
}
.special .box-container .box:hover img{
    top: 0;
}
.special .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}
.special .box-container .box:hover .content{
    transform: translateY(100%);
}

.special .box-container .box .content img{
    margin: 1.5rem 0;
}

.special .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.special .box-container .box .content p{
    font-size: 1.5rem;
    padding: 1rem;
}

.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.popular .box-container .box{
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
}
.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}
.popular .box-container .box .price{
    position: absolute;
    top: 3rem;
    left: 3rem;
    background-color: red;
    color: white;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}
.popular .box-container .box h3{
    font-size: 2.5rem;
    padding-top: 1rem;
}
.popular .box-container .box .stars i{
    color: gold;
    font-size: 1.7rem;
    padding: .1rem;
    padding-top: 2rem;
}
.process{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}
.process .box{
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
}
.process .box img{
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1); 
    width: 159px;
    height: 159px;
}
.process h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 29px;
    padding: 1rem;
    color: #333;
}
.gallary .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.gallary .box-container .box{
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}
.gallary .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallary .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.gallary .box-container .box .content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;left: 0;
    padding: 2rem;
    color: black;
    padding-top: 5rem;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.932);
}
.gallary .box-container .box:hover .content{
    top: 0%;
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.3);
    border-radius:.5rem ;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
}
.review .box-container .box img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}
.review .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.review .box-container .box .stars i{
    font-size: 2rem;
    color: #fff;
    padding: .5rem 0;
    color: red;
}

.review .box-container .box p{
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
}

.order .row{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.order .row .image{
    flex: 1 1 30rem;
}
.order .row .image img{
    height: 100% ;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.order .row form{
    flex: 1 1 50rem;
    padding: 1rem;
}
.order .row form .inputbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.order .row form .inputbox input, .order .row  form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0,.3);
    border-radius: .5rem;
    width: 49%;
}
.order .row form textarea{
    width:  100%;
    height: 15rem;
}
.order .row form .btn{
    background: none;
}
.order .row form .btn:hover{
    background: red;
}

.footer{

    text-align: center;
    background: rgb(65, 64, 64);
}
.footer .share{
display: flex;
gap: 1.5rem;
justify-content: center;
color: #eee;
}
.footer .share .btn{
    color: white;
}
.footer h1{
    font-size: 2rem;
    padding: 2.5rem 1rem;
    color: white;
    margin-top: 2rem;
}
.footer span{
    color: red;

}

































@media(max-width:991px){
    html{
        font-size: 55%;   
    }
    header{
        font-size: 2rem;
    }
    section{
        padding: 2rem;
    }

}

@media(max-width:748px){
    #menu-bar{
    display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;left:0;right: 0;
    
        background: whitesmoke;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    
    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: .5rem solid #d31e1e;
        background-color: white;
    }
    .special .box-container .box img{
        background-size: cover;
        width: 100%;
        height: 21vh;
        object-fit: cover;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .order .row form .inputbox input{
        width: 50%;
    }
}